<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anime LIVE
    </ion-title>
  </ion-toolbar>
</ion-header>

<h1>Ejemplo1 1: mostrar el valor de una varable</h1>


<ion-content>
  <ion-item><p>la direccion es : {{persona.direccion}}</p></ion-item>
  <ion-item><p>el nombre del clienets es: {{persona.nombre }} {{ persona.apellido}}</p></ion-item>

</ion-content>
<ion-content>
  <h1>ejemplo 2:Evaluar Expreciones</h1>
  <ion-item>
    <p>el resultado de la suma de 5+5 es:{{SumaDeDosNumeros(5,7)}}</p>
  </ion-item>




</ion-content>

